/* side bar */
$sidebar-width: 80px;
$sidebar-bg-color: var(--surface-300);
$sidebar-icon-color: var(--primary-700);
$sidebar-icon-color-hover: var(--surface-400);
$sidebar-icon-color-active: var(--primary-500);
