<main class="secure-portal">
  <!-- sidebar -->
  <nav class="secure-portal-sidebar">
    <ul class="secure-portal-links">
      <!-- links -->
      @for (link of links; track link.link) {
        <li class="secure-portal-link">
          <a [routerLink]="link.link" [pTooltip]="link.label" routerLinkActive="active">
            <i [class]="link.icon" style="font-size: 1rem"></i>
          </a>
        </li>
      }

      <!-- sign out -->
      <li class="secure-portal-link">
        <a routerLink="/sign-out" pTooltip="Sign out">
          <i class="pi pi-sign-out" style="font-size: 1rem"></i>
        </a>
      </li>
    </ul>
  </nav>

  <!-- route content -->
  <div class="secure-portal-router">
    <router-outlet/>
  </div>
</main>
