@import "variables";

.secure-portal {
  position: relative;

  &-sidebar {
    width: $sidebar-width;
    position: fixed;
    top: 0;
    bottom: 0;
    padding: 12px;
  }

  &-links {
    height: 100%;
    background-color: $sidebar-bg-color;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 8px;
  }

  &-link {
    padding-top: 10px;

    a {
      padding: 8px;
      color: $sidebar-icon-color;
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

      &:hover {
        background-color: $sidebar-icon-color-hover;
      }

      &.active {
        color: $sidebar-icon-color-active;
      }
    }

    &:last-child {
      margin-top: auto;
      margin-bottom: 10px;
    }
  }

  &-router {
    position: relative;
    left: $sidebar-width;
    width: calc(100% - $sidebar-width);
  }
}
